.auth-ctn{
    --btn-disabled-bg-clr:rgba(99, 99, 99, 0.89);
    --btn-disabled-txt-clr:rgb(165, 165, 165);
    --input-focus-border-clr:rgb(24, 121, 212);
    --txt-white-clr:white;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.auth-title{
    text-align: center;
    color:var(--txt-white-clr);
    font-size:1.4rem;
    margin-top:4rem;
}
.auth-modal
{
    --auth-txt-font-size:1.2rem;
    --auth-input-color:grey;
    height:100%;
    width:100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}
.auth-form-inputs
{
    padding:0.8rem 0;
    border:none;
    font-size:var(--auth-txt-font-size);
    margin-bottom:3rem;
    text-align: center;
    color:var(--auth-input-color);
    width:80%;
    max-width:25rem;
}
.auth-form-inputs:focus{
    border:2px solid var(--input-focus-border-clr);
}
.auth-form-inputs:first-child{
    margin-top: 7rem;
}
.auth-submit-btn
{
    background-color: rgb(11, 120, 184);
    width:80%;
    max-width:25rem;
    padding:1rem 0;
    color:var(--txt-white-clr);
    font-size:var(--auth-txt-font-size);
    margin-bottom: 7rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.61);
    cursor: pointer;
}
.auth-btn-disabled
{
    background-color: var(--btn-disabled-bg-clr);
    color:var(--btn-disabled-txt-clr);
}
.auth-input-labels{
    color:var(--txt-white-clr);
    font-weight: 400;
}
